* {
	transition: all 0.2s;
}
.calc-block {
	border: 2px grey solid;
	padding: 15px;
	margin-bottom: 10px;
}
span {
	vertical-align: middle;
}
.form-group {
	margin: 0;
	display: inline-block;

}
.form-control {
	text-align: center;
	display: inline-block;
	width: 40px;
}
.price-btn {
	display: block;
	margin: 1rem auto;
}
.calc-img img {
	width: 100%;
	max-width: 500px;
}
.floor-number {
	margin-left: 5px;
}
.container{
	display: block;